/* Fondo principal */
.gradient-custom {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  min-height: 100vh;
  padding: 40px 0;
  margin: 0; /* Asegura que no hay margen */
  display: flex;
  flex-direction: column;
}

/* Tarjeta oscura general */
.card.bg-dark {
  background-color: #2c2c2c !important;
  color: #fff;
  border: none;
  border-radius: 10px;
}

/* Botones de cantidad y acciones */
.btn-dark-blue {
  background-color: #3b82f6;
  color: white;
  border: none;
}

.btn-dark-blue:hover {
  background-color: #2563eb;
}

/* Botón del resumen */
.summary-btn {
  background-color: #3b82f6;
  border: none;
  color: white;
  width: 100%;
  padding: 12px;
  font-weight: bold;
  border-radius: 6px;
}

.summary-btn2 {
  background-color: #c4aa1c;
  border: none;
  color: white;
  width: 100%;
  padding: 12px;
  font-weight: bold;
  border-radius: 6px;
}

.summary-btn:hover {
  background-color: #2563eb;
}

.summary-btn2:hover {
  background-color: #a89213;
}

/* Íconos más visibles */
button i {
  color: white;
}


.resumen-item {
  background-color: #2c2c2c !important;
  color: white !important;
  border: none !important;
}